<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Harry Potter 3</title>
    </head>
    <body>
        <h1>Harry Potter and the Prisoner of Azkaban</h1>
        Harry Potter and the Prisoner of Azkaban is a 2004 fantasy film directed by Alfonso Cuarón and distributed by Warner Bros. Pictures.[4] It is based on J. K. Rowling's 1999 novel of the same name. The film, which is the third instalment in the Harry Potter film series, was written by Steve Kloves and produced by Chris Columbus, David Heyman, and Mark Radcliffe. The story follows Harry Potter's third year at Hogwarts as he is informed that a prisoner named Sirius Black has escaped from Azkaban intending to kill him.    </body>
</html>